Package: net.ymlab.dev.UCPure
Name: UCPure
Version: 1.0-8
Description: UC 浏览器 VIP 破解插件，基于 11.9.2 版本开发。
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: h4ck
dev: 
Homepage: 
Depiction: 
Maintainer: h4ck
Icon: 

